<div class="row">
  <div class="span3">
    <div class="row">
      <form class="well form-search">
        <h3>Search</h3>
        <fieldset>
          <input type="text" class="search-query">
          <div class="control-group">
            <div class="controls">
            <label class="control-label">Kjønnsorgan</label>
              <select>
                <option>Penis</option>
              </select>

            <div class="controls">
              <input type="checkbox"> Whatever</input>
              <input type="checkbox"> Whatever</input>
            </div>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Search</button>
        </fieldset>
      </form>
    </div>
  
  </div>
  <div class="span9">
    <table class="table table-striped table-bordered">

      
      <th>what</th><th>what</th>
      <tr>      
      <td>hei</td>
      </tr>
    </table>

  </div>
</div>
