

<div class="row-fluid">
  <div class="span3">
    <!-- Sidebar -->

    <!-- Search -->
    <div class="row-fluid">
      <h3>Search</h3>
      <form class="well form-search">
        <fieldset class="control-group">
          <input type="text" class="search" id="query"></input>
        </fieldset>
        <button type="submit" class="btn btn-primary" id="search">Search</button>
      </form>
    </div> 

    <!-- External search -->
    <!-- Upload -->
    <div class="row-fluid">
      <h3>Upload</h3>
      <form class="well form-search" method="post" enctype="multipart/form-data" action="/db">
      <fieldset>
        <input type="file" name="file" />
        <button type="submit" class="btn btn-danger">Upload!</button>
      </fieldset>
      </form>
    </div>

    <!-- End sidebar -->
  </div>


  <div class="span9">
    <div id="searchresult"></div>
  </div>
</div>
